# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pyo
*.pyd
*.env
.env
venv/
ENV/
env/
# Environment variables
.env
.env.*
!.env.example  # Keep an example file for reference

# Django
*.log
*.pot
*.pyc
*.pyo
*.sqlite3
*.db
local_settings.py
settings_local.py

# VS Code
.vscode/

# macOS
.DS_Store

# Jupyter Notebooks
.ipynb_checkpoints

# Model files
pretrained_model/
*.safetensors
*.pkl

# Static files
staticfiles/

# Other
*.swp
*.bak
*.tmp

# Node modules
node_modules/
